@page
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
</div>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-4"><input type="text" class="form-control" id="userInput" placeholder="User"></div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-10">
            <textarea class="form-control" id="messageInput" rows="2" cols="120" placeholder="Message"></textarea>
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>