@page
@{
    ViewData["Title"] = "Home";
}
<div class="row">
    <div class="col-12">
        <ul id="messagesList"></ul>
    </div>
    <div id="modal" class="modal-window">
        <div class="modal-content">
            <span class="close" id="close">Welcome!</span>
            <input type="text" id="firstName" name="firstName" placeholder="Please type your username" required />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-10">
            <input type="text" class="form-control" id="messageInput" maxlength="140" placeholder="Message" />
        </div>
    </div>
    <div class="row">&nbsp;</div>
    <div class="row">
        <div class="col-6">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
</div>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>